html {
    font-size: 16px;
}

/* === FARBEN === */

/*
Blau:               #1F4E8C
*/

/*
Dunkel Grau:        #3D3F45
*/

/*
Hell Grau:          #cecbcb
*/

/*
Rot:                #A62C21
*/


/* === GLOBAL === */

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    
    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    
    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}


:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #cecbcb, 0 0 10px #cecbcb;
}

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial',  sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

/* === GENERELLES === */

.btn-typ-2 {
    border: solid 2px white;
    background-color: transparent;
    color: white;
    padding-left: .4rem .6rem;
}

.btn-typ-2:hover {
    border: solid 2px darkred;
    font-weight: bold;
    color: #A62C21;
}

.btn-typ-1:hover {
    background-color: #A62C21;
    border: solid 2px white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.active {
    background-color: #A62C21 !important;
}

.wichtiger-text {
    font-weight: bold;
}

.screenreader {
    display: none;
}

.btn-typ-1 {
    padding: .55rem;
    background-color: #A62C21;
    border: solid 2px #A62C21;
    color: white;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {
    
    .intro-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    
    .intro-container {
        width: 100%;
    }
}



.intro-container > h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.intro-container > p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {
    
    .intro-container > p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {
    
    .intro-container > p {
        margin-bottom: 0;
    }
}


/* === NAVIGATIONSLEISTE === */

.logo-link {
    display: inline;
}


#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3D3F45;
    /* position: relative; */
    font-weight: bold;
    font-size: 1.1rem;
}

#header-nav a >img {
    width: auto;
    height: 30px;
    float: left;
    margin: .53rem;
}

#header-nav ul {
    float: right;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header-nav ul>li {
    display: inline-block;
    height: 100%;
    padding: 0 .4rem 0.4rem;
}

#header-nav ul>li>a {
    display: inline-block;
    margin-top: .8rem;
}

#header-nav ul>li>a:link {
    color: white;
    text-decoration: none;
}

#header-nav ul>li>a:visited {
    color: white;
    text-decoration: none;
}

#header-nav ul>li>a:hover {
    color: #cecbcb;
    text-decoration: none;
}

#header-nav ul>li>a:active {
    color: #cecbcb;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.active {
    background-color: #A62C21;
}


/* === NAVIGATIONSLEISTE MOBIL ===*/

#mobile-nav-button {
    color: white;
    float: right;
    font-size: 2rem;
    border: 2px solid white;
    width: 37px;
    height: 37px;
    position: relative;
    margin-top: 6.4px;
    margin-bottom: 8px;
}

#mobile-nav-button> span {
    position: absolute;
    bottom: -1.87px;
    left: 6.5px;
}

#mobile-nav-content>ul>li {
    display: block;
    background-color: #3D3F45;
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}


#mobile-nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;                                                                    /* PROBLEM */
}

#mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

#mobile-nav-dropdown:hover >#mobile-nav-content {
    display: block;
}

#mobile-nav {
    display: none;
}

@media (max-width: 768px) {

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }
}




/* === HEADER-BANNER ===*/

#header-banner {
    background: url("../img/hintergrund.jpg") no-repeat 50% 50%;
    width: 100%;
    height: 0px;
    padding-top: 20.83%;
    background-size: contain;
}

/*
1920px mal 400px

1000px mal ????

Wie viel % von (breite) 1920px sind (höhe) 400px?

=20.83%

*/

#header-banner-klein {
    background: url("../img/hintergrund-klein.jpg") no-repeat 50% 50%;
    width: 100%;
    height: 0px;
    padding-top: 15.625%; 
    background-size: contain;
}

/* GRID-SYSTEM (SICHTBARKEIT) 

.border, .border * {
    border: 1px solid #91c4ff;
}

[class*='col-'] {
    background-color: blue;
}

p {
    background-color: black;
    padding: 0;
    margin: 0;
    color: aliceblue;
    text-align: center;
}

*/


/* GRID-SYSTEM */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both; 
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1 { width: 16.666%; }

.col-2 { width: 33.333%; }

.col-4 { width: 66.666%;}

.col-3 { width: 50%; }

.col-6 { width: 100%; }

/* RESPONSIV MACHEN */

@media (max-width:1024px) {

    .col-1 { width: 33.333%; }
}

@media (max-width: 724px) {


    .col-1 { width: 50% }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%;}
}

@media (max-width: 480px) {
    .col-1 { width: 100% }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%;}
}





/* LEISTUNG-SEITE */




.leistung {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.leistung:nth-of-type(even) {
    background-color: #cecbcb;
}


.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1366px) {
    
    .flex-container {
        width: 90%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 1024px) {
    
    .flex-container {
        width: 100%;
    }
}




.flex-container > .intro-container {
    width: 100%;
}

.leistungs-box  {
    background-color: #3D3F45;
    flex-basis: 25%;
    color: white;
    padding: 2rem 4rem;
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.leistungs-box ul {
    padding: 0;
}

.leistungs-box h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
}


.leistungs-box ul>li {
    list-style-position: inside;
    margin-bottom: .5rem;
}

.leistungs-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 720px;
    box-shadow: 0 0 20px 0 #3D3F45;
    font-size: 1.05rem;
}

@media (max-width: 1782px) {
    
    .leistungs-box-empfohlen {
        flex-basis: 30%;
    }

    .leistungs-box  {
        flex-basis: 27.5%;
    }
}

@media (max-width: 1622px) {
    
    .leistungs-box-empfohlen {
        flex-basis: 32.5%;
    }

    .leistungs-box  {
        flex-basis: 30%;
    }

}

@media (max-width: 1488px) {
    
    .leistungs-box  {
        padding: 1rem 2rem;
    }

    .flex-container {
        align-items: stretch;
    }

    .leistungs-box-empfohlen {
        min-height: initial;
    }

}

@media (max-width: 1088px) {
    
    .flex-container {
        width: 80%;
        flex-direction: column;
        padding: 0;
    }

    .leistungs-box  {
        padding: 2rem 4rem;
        margin-bottom: 2rem;
        min-height: initial;
    }

}

@media (max-width: 786px) {
    
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 409px) {
    
    .leistungs-box  {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        min-height: initial;
    }
}

@media (max-width: 338px) {
    
    .leistungs-box  {
        padding: .5rem 1rem 2rem 1rem;
    }
}


.leistung-auswählen-btn {
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    min-width: 170px;
}

.leistung-auswählen-btn:hover {
    font-weight: normal;
}



/* NEWSLETTER-BEREICH */

#newsletter-bereich {
    width: 100%;
    background-color: #3D3F45;
    padding-bottom: 0;
    padding-top: 0;
}

#nb-werbetext {
    color: white;
    font-size: 1.2rem;
}

#nb-form {
    margin-top: .7rem;
    float: right;
    width: 100%;
    text-align: right;
}

#nb-email-input {
    width: 74%;
    height: 35px;
    border: solid 1px white;
    padding: .4rem;
}

#nb-btn {
    height: 35px;
}

@media (max-width: 1822px ) {

    #nb-email-input {
        width: 70%;
    }
}

@media (max-width: 1358px) {

    #nb-email-input {
        width: 100%;
        margin-bottom: .5rem;
    }

    #nb-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {

    #nb-werbetext {
        display: none;
    }

    #nb-form {
        margin-top: 0;
    }

    #newsletter-bereich .col-4 {
        display: none;
    }
}

@media (max-width: 480px) {

    #nb-email-input {
        height: 25px;
    }
    
    #nb-btn {
        height: 25px;
        padding: .1rem;
    }
}

/* LEISTUNG-BEREICH */

.leistung-box {
    background-color: #3D3F45;
    color: white;
    text-align: center;
    padding: 1rem 3rem 2.5rem;
    width: 60%;
    margin-bottom: 1.6rem;
}


#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
    margin-right: auto;
    margin-left: 1rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
    margin-right: 1rem;
    margin-left: auto;
}

.leistung-box > h2 {
    font-size: 1.4rem;
}

.leistung-ansehen-btn {
    margin-top: 1rem;
    text-decoration: none;
    height: 40px;
    width: 40%;
    min-width: 100px;
    display: inline-block;
    padding-top: .5rem;
}

.leistung-ansehen-btn:link {
    color: white;
}

.leistung-ansehen-btn:visited {
    color: white;
}

.leistung-ansehen-btn:active {
    color: white;
}

.leistung-ansehen-btn:hover {
    border: solid 2px darkred;
    font-weight: bold;
    color: #A62C21;
}

@media (max-width: 1366px) {
    
    .leistung-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    
    .leistung-box {
        width: 100%;
        margin-bottom: .6rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
        margin-left: .5rem;
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
        margin-right: .5rem;
    }
}

@media (max-width: 724px) {
    
    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
        margin-left: 0;
    }
    
    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
        margin-right: 0;
    }
}

/* VIDEO-BEREICH */

#video-bereich {
    background-color: #3D3F45;
    color: white;
}

#video-bereich video {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 1440px) {

    #video-bereich video {
        width: 45%;
    }
}

@media (max-width: 1024px) {

    #video-bereich video {
        width: 60%;
    }
}

@media (max-width: 768px) {

    #video-bereich video {
        width: 75%;
    }
}

@media (max-width:480px) {

    #video-bereich video {
        width: 100%;
    }
}

/* SERVICE-BEREICH */

#service-bereich {
    background-color: #cecbcb;
}

.service-box {
    text-align: center;
    width: 80%;
}

.service-box h1 {
    font-size: 1.4rem;
}

#service-bereich .row:nth-of-type(2) .col-2:first-of-type .service-box {
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) > .service-box {
    margin-left: auto;
    margin-right: auto;
}

.service-icon {
    width: 120px;
    height: 120px;
    background-color: #3D3F45;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#günstig-icon {
    background: #3D3F45 url("./../img/services-sprite.png"); 
}

#schnell-icon {
    background: #3D3F45 url("./../img/services-sprite.png") -120px 0;
}

#modern-icon {
    background: #3D3F45 url("./../img/services-sprite.png") -240px 0;
}

@media (max-width: 768px) {

    #service-bereich .row:nth-of-type(2) .col-2:first-of-type .service-box {
        margin-right: auto;
        margin-left: auto;
    }

    #service-bereich .row:nth-of-type(2) .col-2:nth-of-type(3) .service-box {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {

    .service-box {
        width: 100%;
    }
}


/* ÜBER-UNS-BEREICH */

#über-uns-bereich {
    background-color: white;
}

#über-uns-container {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#über-uns-container > img {
    position: absolute;
    top: 0;
    right: 100px;
    height: 100%;
}

#über-uns-container > p {
    width: 75%;
    font-size: 1.2rem;
}

@media (max-width: 1440px) {

    #über-uns-container > img {
        right: 50px;
    }
}

@media (max-width: 1280px) {

    #über-uns-container > img {
        right: 0px;
    }
}

@media (max-width: 1140px) {

    #über-uns-container > p {
        width: 70%;
    }
}

@media (max-width: 1024px) {

    #über-uns-container > p {
        width: 100%;
    }

    #über-uns-container > img {
        display: none;
    }
}

/* FOOTER */

#footer {
    background-color: #3D3F45;
    color: white;
}

#footer-nav {
    display: inline-block;
    float: right;
}

#footer-nav a {
    text-decoration: none;
}

#footer-nav a:link {
    color: white;
}

#footer-nav a:visited {
    color: white;   
}

#footer-nav a:hover {
    color: #cecbcb;
}

#footer-nav a:active {
    color: white;
}

@media (max-width: 565px) {

    #footer span {
        display: none;
    }
}

/* === KONTAKT-BEREICH === */

#kontakt-formular input,
#kontakt-formular textarea {
    width: 100%;
    border: 2px solid #3D3F45;
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial',  sans-serif;
    color: #3D3F45;
}

#kontakt-formular input:hover,
#kontakt-formular input:focus,
#kontakt-formular textarea:hover,
#kontakt-formular textarea:focus,
#kontakt-formular button:hover {
    border: 2px solid #A62C21;
}

#kontakt-formular textarea {
    height: 100px;
}

#kontakt-formular {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.btn-typ-3 {
    border: 2px solid #3D3F45;
    background-color: transparent;
    font-size: 1rem;
    color: #3D3F45;
    width: 150px;
    height: 39px;
}

@media (max-width: 1366px) {
    
    #kontakt-formular {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    
    #kontakt-formular {
        width: 100%;
    }
}

@media (max-width: 768px) {
    
    #kontakt-formular button {
        width: 100%;
    }
}
